@import 'src/styles/_mixins_.scss';

ul {
    list-style: none;

    @include display-flex($flex-wrap: wrap, $justify-content: center, $gap: 24px);

    max-width: 1280px;
  
    margin: 0;
    padding: 0;
}
  
h1 {
    color: var(--gray-100);
}