@import 'src/styles/_mixins_.scss';

header {
    padding: 28px;
    background-color: var(--blue-900);
  
    position: sticky;
    top: 0;
  
    @include full-width;
  
    h1 {
      color: var(--gray-100);
      margin: 0;
    }
  
}